<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Company Home Page</title>
</head>
<body>
<h2>Company Home Page</h2>
<hr>
<p>
    Welcome to the Company Home Page!
</p>

<hr>
<p>
    User: <span sec:authentication="principal.username"></span>
    <br><br>
    Role(s): <span sec:authentication="principal.authorities"></span>
</p>
<hr>
<p>
    <a th:href="@{/leaders}">Leadership Meeting</a>
    (Only for Manager Peeps)
</p>
<p>
    <a th:href="@{/systems}">IT Systems Meeting</a>
    (Only for Admin Peeps)
</p>
<hr>

<form action="#" th:action="@{/logout}" method="POST">
    <input type="submit" value="Logout">

</form>
</body>
</html>